<!DOCTYPE html>
html(lang="fr") 
  head 
    title Touiteur - Accueil
    link(rel="stylesheet", href="/css/main.css")
  body 
    header
      nav
        ul 
        
          li 
            a(href="/touites") Accueil
          li 
            a(href="/apropos") A propos
    
    block content 
    footer Touiteur x Diginamic - 2021-2023 - Tous droits réservés